v2/src/soap/server.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost:80/soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="SoapService"
             targetNamespace="http://localhost:80/soap">
    <types>
        <xsd:schema targetNamespace="http://localhost:80/soap">
            <xsd:complexType name="User">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="username" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element name="token" type="xsd:string"/>
                    <xsd:element name="expired_date" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <portType name="SoapServicePort">
        <operation name="authenticate">
            <input message="tns:authenticateRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="getUser">
            <input message="tns:getUserRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="getAllUsers">
            <input message="tns:tokenRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="updateUser">
            <input message="tns:updateUserRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="deleteUser">
            <input message="tns:deleteUserRequest"/>
            <output message="tns:userResponse"/>
        </operation>

        <operation name="generateToken">
            <input message="tns:generateToken"/>
            <output message="tns:userResponse"/>
        </operation>
    </portType>

    <binding name="SoapServiceBinding" type="tns:SoapServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="authenticate">
            <soap:operation soapAction="http://localhost:80/soap#authenticate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="createUser">
            <soap:operation soapAction="http://localhost:80/soap#createUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="getUser">
            <soap:operation soapAction="http://localhost:80/soap#getUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="getAllUsers">
            <soap:operation soapAction="http://localhost:80/soap#getAllUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="updateUser">
            <soap:operation soapAction="http://localhost:80/soap#updateUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="deleteUser">
            <soap:operation soapAction="http://localhost:80/soap#deleteUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="generateToken">
            <soap:operation soapAction="http://localhost:80/soap#generateToken"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <message name="generateToken">
        <part name="id" type="xsd:string"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="authenticateRequest">
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
    </message>

    <message name="tokenRequest">
        <part name="token" type="xsd:string"/>
    </message>

    <message name="createUserRequest">
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="getUserRequest">
        <part name="id" type="xsd:int"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="updateUserRequest">
        <part name="id" type="xsd:int"/>
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="deleteUserRequest">
        <part name="id" type="xsd:int"/>
        <part name="token" type="xsd:string"/>
    </message>

    <message name="userResponse">
        <part name="return" type="xsd:string"/>
    </message>

    <service name="SoapServiceService">
        <port name="SoapServicePort" binding="tns:SoapServiceBinding">
            <soap:address location="http://localhost:80/soap"/>
        </port>
    </service>
</definitions>
